USE [master]
GO
/****** Object:  Database [PruebaXMS]    Script Date: 15-03-2019 10:50:09 ******/
CREATE DATABASE [PruebaXMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PruebaXMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PruebaXMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PruebaXMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PruebaXMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaXMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaXMS]
GO
USE [PruebaXMS]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 15-03-2019 10:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[Id] [uniqueidentifier] NOT NULL,
	[PaisId] [int] NOT NULL,
	[Nombre] [varchar](100) NULL,
 CONSTRAINT [PK_Pais_1] PRIMARY KEY CLUSTERED 
(
	[PaisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 15-03-2019 10:50:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombres] [varchar](200) NULL,
	[ApellidoPaterno] [varchar](200) NULL,
	[ApellidoMaterno] [varchar](200) NULL,
	[Password] [varchar](50) NULL,
	[Username] [varchar](100) NULL,
	[PaisId] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Pais] ([Id], [PaisId], [Nombre]) VALUES (N'f3a4f85c-56c5-49cd-9000-7393b458321e', 1, N'Chile')
INSERT [dbo].[Pais] ([Id], [PaisId], [Nombre]) VALUES (N'ee5e4820-968b-438f-bad1-20b5a0d5a00e', 2, N'Argentina')
INSERT [dbo].[Pais] ([Id], [PaisId], [Nombre]) VALUES (N'b1b3fc36-d626-4b04-a130-8741be9a016a', 3, N'Brasil')
INSERT [dbo].[Usuario] ([Id], [Nombres], [ApellidoPaterno], [ApellidoMaterno], [Password], [Username], [PaisId]) VALUES (N'efd65414-a1c6-464e-848e-c42e1769deeb', N'Rodrigo Alejandro', N'Cabrera', N'Nuñez', N'123', N'Cabrera', 1)
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Pais] FOREIGN KEY([PaisId])
REFERENCES [dbo].[Pais] ([PaisId])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Pais]
GO
USE [master]
GO
