.navbar  a{
    color: aliceblue;
}
.navbar {
    background-color: brown;
}
    .navbar .dropdown-menu {
        background-color: brown;
    }
        .navbar .dropdown-menu .dropdown-item {
            background-color: brown;
        }
    .navbar li a {
        color: aliceblue;
    }

